@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MOVIE RENTAL APP</h1>
    <p class="lead">VIDLY is a movie rental application which lets you see/preview the best movies based on how many times the movie has been rented so you can make the best decidion on your next movie rental</p>
    <p>
        @Html.ActionLink("See the movies...", "Index", "Movies", null, new { @class = "btn btn-primary btn-lg " })
    </p>
</div>

