@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-baseline">
    <h2>Movies</h2>
    @Html.ActionLink("Add New", "Create", "Movies", null, new { @class = "btn btn-primary " })
</div>
<table class="table table-bordered table-hover mt-3">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)
                </td>
                <td>@movie.Genre.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>